<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Twitter</title>
</head>
<body>

</nav>

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Twitter</h1>
    <p class="lead">This is the Y application</p>
  </div>
</div>

</body>
</html>
